<script src="../static/scripts/editUserClient.js"></script>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>

<div class="container" style="margin-top:100px;">
    <h1 class="text-center">Edit User Signature</h1>
</div>
<div class="container" style="margin-top:25px; margin-bottom:50px;">
    <p class="text-center">Edit your signature here! (REQUIRED TO CREATE AND SEND AWARDS)</p>
</div>
<div class="container justify-content-center w-50 mt-3">
    <div class="col-sm">
      <div style="border-color:black; border-style:solid; border-radius:20px;">
         <canvas id="signature-pad" width="575" height="200"></canvas>
      </div>
      <div>
        <button id="saveButton" type="button" class="btn btn-primary">Save Image</button>
        <button id="clearButton" type="button" class="btn btn-primary">Clear</button>
      </div>
      <div>
        <input id="sig-file" type="file" name="userSig" />
        <button id="uploadButton" type="button" class="btn btn-primary">Upload Image</button>
        
      </div>
    </div>
    </div>

    <div class="col-sm">
      
    </div>
  </div>

</div>