<script src="/static/scripts/home.js"></script>

<div class="container">
  <h4>Hey Hey Its our app.</h4>
  
  <label>This is the user table...</label>
  <div class="row">
    <div id="content"></div>
  </div>
</div>